html,
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
#title {
    text-align: center;
    padding-top: 10px;
    color: #ffe8e8;
    text-shadow: 0 0 5px #cd5c5c;
}
#btn {
  width: 70%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #cd5c5c;
  cursor: pointer;
}
#btn:hover {
  background-color: #ffd7d7;
  color: #cd5c5c;
}
#list-group-item {
  display: flex;
  justify-content: space-between;
  background-color: #f08080;
  color: #fff;
  padding: 7px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
}
#quotesButtonDiv {
  display: flex;
  justify-content: center;
}
ul {
  padding: 0;
}
#deleteBtn {
  background-color: #ffbebe;
  color: #af5252;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
#deleteBtn:hover {
  background-color: #ffffff;
  color: #000000;
}
